**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.gitattributes
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/docker-compose*
**/compose.y*ml
**/compose.*.y*ml
!**/composer.json
!**/composer.lock
**/Dockerfile*
**/vendor
**/.DS_Store
.editorconfig
.env.example
package.json
package-lock.json
LICENSE
README.md

tests/
.github/
